<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>
            Create your wish list!
        </h1>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <button><a href="/login">Login</button>
                <button><a href="/sign-up">Sign-up</button>
                {{#if loggedIn}}
                <button><a href="/logout">logout</button>
                {{/if}}
            </form>
        </nav>
    </header>
    <main>
     {{!-- {{{ body }}} --}}
    </main>
    <footer>
        Thank you for visiting!
    </footer>
</body>

</html>