    body {
        /* The image used */
        background-image: url("../images/winterwishlist.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        left: 25%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: .3rem;
        outline: 0;
        box-sizing: border-box;
    }
    
    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
    
    .list-name {
        position: center;
    }