{{#if loggedIn}}
<article>
    <h2>Make a list!</h2>
    <form class="new-list-form">
        <div class="form-group">
            <label for="list-title">Title</label>
            <input type="text" name="list-title"  class="form-control" value="{{list.list_name}}"/>
        </div>
        <button type="submit" class="btn btn-danger">Create List</button>
    </form>
</article>

{{!-- <section>
    <h2>Your Lists</h2>
    <ol>
        {{list.list_name}}
    </ol>
</section> --}}

<script src = "/javascript/create-list.js"></script>
{{/if}}

