{{#if loggedIn}}
<article>
    <form class="new-list-form">
        <div class="label-box">
            <label for="list-titles">List Name</label>
            <input name="list-title" for="list-title" type="text" value="{{list.list_name}}" />
        </div>
        <button type="submit" class="btn btn-danger ml-auto">Create List</button>
    </form>

    <h2>My lists</h2>
    <div class="modal-content">
        <div class="modal-body">
            <div class="container">
            {{#each lists}}
            <div class="col-4">
                <a href="/my-list">{{list_name}}</a>
            </div>
            {{/each}}
            </div>
        </div>
    </div>

</article>

<script src="/javascript/create-list.js"></script>
{{/if}}