{{#if loggedIn}}
<article>
    <form class="new-list-form form-inline">
        <div class="form-group mb-2">
            <label for="list-titles"><h4>Start here:</h4></label>
            <input required name="list-title" class="list-titles" for="list-title" type="text" value="{{list.list_name}}" />
        <button type="submit" class="btn btn-success mb-2">Create list</button>
      </div>
    </form>

    <h2>My lists</h2>
      {{#each lists}}
    <div class="modal-content">
        <div class="modal-body">
                <div class="col-4">
                <a href="/my-list">{{list_name}}</a>
            </div>
        </div>
    </div>
  {{/each}}
</article>

<script src="/javascript/create-list.js"></script>
{{/if}}