
<h1 style="color: white">Create A Wish List With Us!</h1>
<div class="about modal-content">
    <div class="modal-body">
<h4 class="about-p"> About </h4> 
<p class="about-p">Welcome to Winter Wishlist, you can create a wish list, title it, and add items to it.</p>
<h6 class="about-p">To get started: Click on sign-up or login</h6>
</div>
</div>