<h1 class= "list_name">{{list_name}}</h1>
{{#each item_text}}
{{/each}}
<form class="item-form">
    <div>
        <input type="" class="form-control" id="addItem" placeholder="Add an item..." />
    </div>
    <div>
        <button type="submit" class="btn btn-danger">Add Item</button>
    </div>
</form>

<script src="/javascript/item.js"></script>